{% extends "web/base.html" %}
{% load i18n %}
{% load static %}
{% load form_tags %}
{% block body %}
<div id="fullpage-form-wrapper">
    <div id="fullpage-form">
        <h1 class="title is-size-4">Sign Up</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% render_text_input form.email %}
            {% render_text_input form.password1 %}
            {% if project_settings.ACCOUNT_SIGNUP_PASSWORD_ENTER_TWICE %}
              {% render_text_input form.password2 %}
            {% endif %}
            {% render_field form.terms_agreement %}
            <input class="button is-primary is-fullwidth" type="submit" value="Sign Up">
            <hr>
            <div class="field has-text-centered has-text-grey">
                {% translate "Already have account?" %}
                <a class="muted-link" href="{% url 'account_login' %}">
                    {% translate "Go to sign in." %}
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
