{% load i18n %}
<aside class="menu">
  <p class="menu-label is-hidden-tablet-only">
    {% translate "Application" %}
  </p>
  <ul class="menu-list">
    <li>
      <a href="{% url 'web:home' %}" {% if active_tab == 'dashboard' %}class="is-active"{% endif %}>
        <span class="pg-icon"><i class="fa fa-home"></i></span><span class="is-hidden-tablet-only">{% translate "Dashboard" %}</span>
      </a>
    </li>
    <li>
      <a href="{% url 'subscriptions:subscription_demo' %}" {% if active_tab == 'subscription_demo' %}class="is-active"{% endif %}>
        <span class="pg-icon"><i class="fa fa-desktop"></i></span><span class="is-hidden-tablet-only">Subscription Demo</span>
      </a>
    </li>
    <li>
      <a href="{% url 'ecommerce:ecommerce_home' %}" {% if active_tab == 'ecommerce' %}class="is-active"{% endif %}>
        <span class="pg-icon"><i class="fa-solid fa-shopping-cart"></i></span><span class="is-hidden-tablet-only">{% translate "E-Commerce" %}</span>
      </a>
    </li>
    <li>
      <a href="{% url 'group_chat:chat_list' %}" {% if active_tab == 'group-chat' %}class="is-active"{% endif %}>
        <span class="pg-icon"><i class="fa-regular fa-comments"></i></span>
        <span class="is-hidden-tablet-only">{% translate "Group Chat" %}</span>
      </a>
    </li>
  </ul>
{% if not user.is_anonymous %}
  <p class="menu-label is-hidden-tablet-only">
    {% translate "My Account" %}
  </p>
  <ul class="menu-list">
    <li>
      <a href="{% url 'subscriptions:subscription_details' %}" {% if active_tab == 'subscription' %}class="is-active"{% endif %}>
        <span class="pg-icon"><i class="fa fa-repeat"></i></span><span class="is-hidden-tablet-only">Subscription</span>
      </a>
    </li>
    <li>
      <a href="{% url 'users:user_profile' %}" {% if active_tab == 'profile' %}class="is-active"{% endif %}>
        <span class="pg-icon"><i class="fa fa-user"></i></span><span class="is-hidden-tablet-only">{% translate "Profile" %}</span>
      </a>
    </li>
    {% if user.has_usable_password %}
    <li>
      <a href="{% url 'account_change_password' %}" {% if 'accounts/password/change' in request.path %}class="is-active"{% endif %}>
        <span class="pg-icon"><i class="fa fa-unlock-alt"></i></span><span class="is-hidden-tablet-only">{% translate "Change Password" %}</span>
      </a>
    </li>
    {% endif %}
    <li>
      <a href="{% url 'account_logout' %}" {% if 'accounts/logout' in request.path %}class="is-active"{% endif %}>
        <span class="pg-icon"><i class="fa fa-sign-out"></i></span><span class="is-hidden-tablet-only">{% translate "Sign out" %}</span>
      </a>
    </li>
  </ul>
{% endif %}
  <p class="menu-label is-hidden-tablet-only">
    {% translate "Admin" %}
  </p>
  <ul class="menu-list">
    <li>
      <a href="{% url 'dashboard:dashboard' %}" {% if active_tab == 'project-dashboard' %}class="is-active"{% endif %}>
        <span class="pg-icon">
          <i class="fa fa-bar-chart-o"></i>
        </span>
        <span class="is-hidden-tablet-only">{% translate "Project Dashboard" %}</span>
      </a>
    </li>
  </ul>
</aside>
